.resultsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  padding: 25px;
  border-width: 1px;
  border-style: inset;
  border-color: grey;
  margin: 10px;
}

form {
  max-height: 10em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.background-color {
  background: #e8e8e8;
}

.card {
  max-width: 14em;
  overflow: hidden;
}

.card-text {
  margin: 1em;

  word-wrap: break-word;
  font-weight: bold;
}

.button {
  vertical-align: middle;
  height: 40px;
  margin-top: 47px;
}

.center {
  text-align: center;
  vertical-align: top;
}

.artistNameField {
  min-width: 425px;
}

.flex-row {
  display: flex;
  align-items: top;
  justify-content: center;
  height: 120px;
  flex-wrap: wrap;
}
